
# AS VARIÁVEIS EM UM DOTENV DEVEM ESTAR SEM ASPAS (MAIORIA DOS CASOS) E GRUDADAS NO "=", ISSO EVITA ERROS NA HORA DE ATRIBUIÇÃO
# --------------------------------------------------------------
# VARIÁVEIS DE CAMINHO NECESSÁRIAS (NOTE QUE ELAS PODEM TER AS BARRAS NO SENTIDO INVERSO, O WINDOWS CONSEGUE ENTENDER)

PASTA_PDF=
PASTA_JSON=

# VARIÁVEL DE CONEXÃO COM A API

URL_API=
# --------------------------------------------------------------